<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.protest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="Splash"
            android:label="Welcome" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Menu"
            android:label="Main Menu" >
            <intent-filter>
                <action android:name="com.example.protest.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="MainActivity"
            android:label="First App" >
            <intent-filter>
                <action android:name="com.example.protest.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="Email"
            android:label="Email" >
            <intent-filter>
                <action android:name="com.example.protest.EMAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="Tab"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.protest.TAB" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="Camera"
            android:label="Camera" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.protest.CAMERA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="Data"
            android:label="Data" >
            <intent-filter>
                <action android:name="com.example.protest.DATA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity><activity
            android:name="OpenedClass"
            android:label="Open Class" >
            <intent-filter>
                <action android:name="com.example.protest.OPENEDCLASS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
